<div class="span6">
	<h1>PageOneX About</h1>
	<h3>Analyzing newspaper front pages</h3>
	<br>
	<p>PageOneX is an open source tool to code, analyze and visualize the evolution of stories on newspaper front pages. In the future it will allow to compare newspaper with social media coverage. Newspaper front pages are a key source of data about our media ecology. Newsrooms spend massive time and effort deciding what stories make it to the front page. PageOneX makes coding and visualizing newspaper front page content much easier, democratizing access to newspaper attention data.</p>

	<p>Communication researchers have analyzed newspaper front pages for decades, using slow, laborious methods. PageOneX simplifies, digitizes, and distributes the process across the net.</p>

	<p>A semi-automated version of the tool has been tested, and we have produced several interesting examples: <a href="http://numeroteca.org/cat/frontpage-newspaper/" title="">http://numeroteca.org/cat/frontpage-newspaper/</a>. The first version of the tool, <a href="https://github.com/numeroteca/PageOneX" title="">https://github.com/numeroteca/PageOneX</a>, scrapes front pages from the web (<a href="kiosko.net" title="">kiosko.net</a>) and builds a matrix of images that must be manually coded in inkscape.</p>
	<h3>More info</h3>
	<p>Check for updates about the project at the blog <a href="http://montera34.org/pageonex/" title="">http://montera34.org/pageonex/</a> and in Twitter <a href="http://twitter.com/pageonex" title="">@pageonex</a>.</p>
	<h3>Fork the project</h3>
	<p>Get the code of the project at <a href="https://github.com/numeroteca/PageOneX-ruby" title="">https://github.com/numeroteca/PageOneX-ruby</a> </p>

	<h3>Report bugs</h3>
	<p>Report bugs and suggestions at <a href="http://bit.ly/pageonextest" title="">http://bit.ly/pageonextest</a> or at pablo --at- basurama.org </p>

	<p>Soon we will be using <a href="http://pageonex.com" title="">http://pageonex.com</a> to provide all the info regarding the project.</p>

</div>
