<% Credits - PageOneX" %>
<div class="span6">
	<h1>PageOneX Credits</h1>
	<h3>Analyzing newspaper front pages</h3>
	<br>
	<p>This is a project by Pablo Rey Mazón, <a href="https://github.com/numeroteca" title="">https://github.com/numeroteca</a>. Ahmd Refat, <a href="https://github.com/ahmdrefat" title="">https://github.com/ahmdrefat</a>, is coding, thanks to  Google Summer of Code programm (GSOC) and Berkman Cener as Host institution.</p>

<p>Sasha Costanza-Chock and Nathan Mathias are giving advice and supporting from the Center for Civic Media at MIT Media Lab; <a href="http://skotperez.net/" title="">Alfonso Sánchez Uzabal</a> is providing tecnical support and <a href="http://montera34.com/" title="">Montera34</a> the server. Thanks to Jeff Warren for  his advice.</p>

</div>
