<% @title = "Help - PageOneX" %>
<div class="span6">
	<h3>Wiki</h3>	
	<p><%= link_to "Access the wiki", "https://github.com/numeroteca/pageonex/wiki"  %></p>
	<h3>How to use PageOneX</h3>	
	<p>Tutorial about how to use PageOneX by <strong><a href="http://www.slideshare.net/contrapunto" target="_blank">Anibal Rossi</a> (in Spanish). Thanks!</p>
	<iframe src="http://www.slideshare.net/slideshow/embed_code/16558008" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 
</div>

