<% @title = "Terms of Service - PageOneX" %>
<div class="span6">
<h1>Privacy Policy</h1>
<p>
	PageOneX is committed to respecting the privacy of users who access the PageOneX website (the “Site,” which will include all pages within the pageonex.com web domain). This policy will tell you (1) what information is collected when you visit our site or send us an email, and (2) how that information is used.
</p>
<h2>WEB SERVER LOGS</h2>
<p>
	When you visit the Site, our web server may record the following information in its server log:
</p>
<ol>
	<li>your IP Address,</li>
	<li>your username (if you have logged in as a registered user)</li>
	<li>the URLs you have requested to access,</li>
	<li>the dates and methods of requests,</li>
	<li>the status code of your requests,</li>
	<li>URLs of pages that referred you to the Site,</li>
	<li>number of bytes transferred, and</li>
	<li>your web browser and operating system platform.
</ol>
<p>
	We use server log information to help diagnose problems with our server and to administer our website by identifying which parts of our site are most heavily used. We also use this information to tailor site content to user needs and to generate aggregate statistical reports. Web server logs are retained on a temporary basis, during which time their contents are accessible to Site administrators, and then deleted completely from our systems. Unless required by legal process, we do not link IP addresses to any personally identifiable information. This means that user sessions will be tracked by IP address, but a user’s identity will remain anonymous.
</p>
<p>
	In addition, we ordinarily do not disclose to third parties site usage by individual IP addresses, but we may do so in very limited circumstances when complying with law or legal process, working with consultants assisting us with fixing or improving the Site, or monitoring and improving the security of our network.
</p>
<h2>USER REGISTRATION AND USER-GENERATED CONTENT</h2>
<p>
	PageOneX has adopted a user registration option for visitors who want to access registration-only pages or post user-generated content to the Site. To obtain a PageOneX user registration, you must submit your email address to the Site, along with a username and password that you create for user authentication purposes. The Site will include a public-facing profile page that will include your user name. The Site will display to the public your username alongside any content that you post.
</p>
<p>
	We will not disclose your email address anywhere on the Site (see below, “Email”).
</p>
<p>
	This Site may include features that support and publish User-Generated Content, in the form of comments, discussions, Visualization Threads, and other content submitted by registered users. When you submit User-Generated Content to the Site, you understand and agree that the Site may post the content for the public to access, view and use. If you submit a Visualization Thread for publication on the Site, it will be visible to anyone in the public alongside your username.
</p>
<p>
	When you delete User-Generated Content from the Site, that deleted content, while not available to the viewing public and other Site users, will remain on the Site server until such time as you make a specific request to PageOneX for permanent deletion of such content from the Site server. Such requests must be made in writing, via email, to the Site’s Editor at the following address: [pablo at basurama.org].
</p>
<h2>PIWIK ANALYTICS</h2>
<p>
	PageOneX uses Piwik analytics software to perform Site usage analytics. Piwik collects anonymous information from users to help PageOneX track Site usage and referrals from other websites. These data are used primarily to optimize the website experience for our visitors, but we may use the data as well to assist us in our marketing of the Site.
</p>
<p>
	Information collected and processed by Piwik includes the user’s IP address, network location, and geographic location. Piwik acquires all its information directly from the user, by installing a cookie (see below) on JavaScript-enabled computers. The Site does not share any information it collects with Piwik, and Piwik does not collect any personal identifying information such as names, contact information, social security numbers or financial information.
</p>
<h2>COOKIES</h2>
<p>Cookies are unique bits of computer data that many major websites will transfer to your computer the first time that you visit. Cookies are stored on your hard drive and may be later accessed by the website to track prior usage. As noted above, Piwik will install a cookie on the hard drives of Site visitors.</p>
<h2>EMAIL</h2>
<p>
	We will only record your email address if you send us a message, submit it to us as part of the user registration process, or join our development email list. We will only use your email address for the purpose for which you have provided it — i.e., to respond to a message from you, to communicate with you regarding your user account, or to deliver messages to the development listserv, if you have joined it.
</p>
<p>
	When you submit your email address to the Site during registration, PageOneX will ask you whether you want to receive periodic announcements from the Site by email. Accepting emailed announcements is entirely optional and not a condition of registration, and you may change your email settings at any time to subscribe or unsubscribe to these mailings.
</p>
<p>
	The PageOneX development email list is administered by MIT, through its Mailman service. You can learn more about Mailman by clicking here. You can also join the users email list.
</p>
<p>
	We will not disclose or distribute your email address to any third party.
</p>
<p>
	Any feedback emailed to us using our “Contact Us” button will be used for site performance evaluation only.
</p>
<h2>DISCLOSURE TO THIRD PARTIES</h2>
<p>
	We will not sell, lend, or disclose to third parties any information collected from visitors, except as disclosed in this Policy or in the event we are required by law to do so. We may disclose information to employees, consultants and agents who have a legitimate need to know the information for the purpose of fixing or improving the Site and monitoring and improving the security of our network. We may also disclose this information when special circumstances call for it, such as when disclosure is required by law or court order or when disclosure is, in our sole discretion, necessary to protect our legal rights, including intellectual property rights.
</p>
<h2>OTHER WEBSITES</h2>
<p>
	This Site may contain links to other web resources, including websites of organizations other than the Center for Civic Media or the Massachusetts Institute of Technology. The websites to which the Site links may also install cookies on your computer, log your access to their web pages, or collect user-identifying information directly from you, once you proceed to browse those sites. We are not responsible for the privacy policies of other sites or businesses to which the Site provides links. Please visit the relevant sites to review their privacy policies.
</p>
<h2>DATA SECURITY</h2>
<p>
	We have in place physical, electronic and managerial procedures to protect the information we collect online. However, as effective as these measures are, no security system is impenetrable. We cannot completely guarantee the security of our database, nor can we guarantee that the information you supply will not be intercepted while being transmitted to us over the Internet.
</p>
<h2>NOTIFICATION OF CHANGES IN THE PRIVACY POLICY</h2>
<p>
	We will review our security measures and Privacy Policy on a periodic basis, and we may modify our policies as appropriate. We may also change or update our Privacy Policy if we add new services or features. If any changes are made, we will make appropriate amendments to this policy and post them at the Site. We encourage you to review our Privacy Policy on a regular basis.
</p>
<p>
	If you have any questions about this Privacy Policy, the practices of this Site, or your dealings with this Site, you can contact pablo at pablo [at] basurama.org.
</p>
<h2>EFFECTIVE DATE</h2>
<p>This Privacy Policy is in effect as of May 7th 2013.</p>
</div>
