<div style="text-align:center; font-size:20px ;list-style: none;" class="row">
	
	<div class="span12">&nbsp;
	</div>
  
 	<div class="span12">
		<a href="<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}/coding"%>" class="btn " id="coding" rel="popover"  data-content="Coding images, by highlighting the related news" data-original-title="Code">Code</a> 

		<span style="margin: 0 100px 0 100px" class="divider"> - </span>

		<a href="<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}"%>" class="btn " id="disp" rel="popover"  data-content="Displaying the images matrix with bar chart of the ratios" data-original-title="Display">Display</a>

	</div>

</div>
