/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*
 *= require jquery.ui.core
 *= require jquery.ui.theme
 */

 /*
 *= require jquery.ui.resizable
 *= require jquery.ui.selectable
 */

 /*
 *= require jquery.ui.accordion
 * require jquery.ui.autocomplete
 * require jquery.ui.button
 *= require jquery.ui.dialog
 * require jquery.ui.slider
 * require jquery.ui.tabs
 *= require jquery.ui.datepicker
 * require jquery.ui.progressbar
 */

#login-info {
  margin-top: 3px;
  margin-left: 10px;
}
#login-info h5 {
  line-height: 16px;
  margin: 0px;
}
.box_legend {
  width: 26px;
  height: 26px;
  display: block;
  margin: 0 4px 4px;
  float:left;
}
