// Place all the styles related to the coding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#aboveImageToolbar {
  margin-bottom: 10px;  
}

.above-image-alert {
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.above-image-alert form {
  margin-bottom: 0px;
}

#chart-export-img {
  box-shadow: 2px 2px 5px #888888;
}

/* composite image stuff */
ul.thread-composite-images {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
}
ul.thread-composite-images li {
  display: float;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}