// Place all the styles related to the coding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#aboveImageToolbar {
  margin-bottom: 10px;  
}

.above-image-alert {
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.above-image-alert form {
  margin-bottom: 0px;
}

#chart-export-img {
  box-shadow: 2px 2px 5px #888888;
}

.high_area {
  border: 1px solid #333333;
}
/* dataviz */
.gridline {
  stroke: #ccc;
  shape-rendering: crispEdges;
  stroke-width:1;
}

/* composite image stuff */
ul.thread-composite-images {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
}
ul.thread-composite-images li {
  display: float;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}
ul.thread-coposite-labels {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;  
}
ul.thread-coposite-labels li {
  display: block;
  vertical-align: top;
  text-align: right;
}
.avatar-icon {
  float:left;
  cursor:pointer;
}
.ha-user-name {
  margin-left: 25px;
  display: none;
  color: white;
  background-color: black;
  width: 150px;
  padding-left: 5px;
}
.user-id img:hover + span {
  display: block !important;
}
