// Place all the styles related to the coding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 5px;
}
.legend_text {
	line-height: 1em;
}
.box_legend {
  width: 26px;
  height: 26px;
  display: block;
  margin: 0 4px 4px 0;
  float:left;
  cursor:pointer;
}
.inactive .box_legend {
	opacity:.4;
}
.legend_text:hover{
	font-weight:bold;
	cursor:pointer;
}
#color-legend li{
	vertical-align: top;
}
.codes_boxes{
	margin-left: 30px;
	font-size: 15px;
}

#aboveImageToolbar {
  margin-bottom: 10px;
}

.above-image-alert {
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.above-image-alert form {
  margin-bottom: 0px;
}

#chart-export-img {
  box-shadow: 2px 2px 5px #888888;
}

.high_area {
  border: 1px solid #333333;
}

#topics {
	padding-left:0px;
}
//Carrousel pointer
#myCarousel{
	cursor:crosshair;
}
.ui-draggable{
	cursor:move;
}

/* dataviz */
.gridline {
  stroke: #ddd;
  shape-rendering: crispEdges;
  stroke-width:1;
}

.yaxis line, .xaxis path{
  shape-rendering: crispEdges;
  stroke-width:1;
}

/* composite image stuff */
ul.thread-composite-images {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
}
ul.thread-composite-images li {
  display: float;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}
ul.thread-coposite-labels {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}
ul.thread-coposite-labels li {
  display: block;
  vertical-align: top;
  text-align: right;
  cursor:pointer;
}
ul.thread-coposite-labels li.active {
  font-weight:bold;
}
ul.thread-coposite-labels li.inactive {
  font-weight:normal;
}
.avatar-icon {
  float:left;
  cursor:pointer;
}
.ha-user-name {
  margin-left: 25px;
  display: none;
  color: white;
  background-color: black;
  width: 150px;
  padding-left: 5px;
}
.user-id img:hover + span {
  display: block !important;
}
.ha-close-icon {
  cursor:pointer;
  width: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.ha-edit-icon {
  cursor:pointer;
  width: 20px;
  position: absolute;
  right: 23px;
  top: 0px;
}
#embedded_footer{
	position: absolute;
	right: 0px;
	bottom: 0px;
	/*background-image: url("/images/header-proyecto.gif");*/
	background-color:#ddd;
	padding:3px;
}
#color-legend li{
	width:150px;
	padding:0;
}
